<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}">
    <style>
        body{
            padding-top: 60px;}
 
            .tr-head{background: #dff0d8;}  
    </style>
</head>
<body>
    <div class="navbar navbar navbar-inverse navbar-fixed-top">
       
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="">
                    IEVN-1003
                </a>
           
            <ul class="nav">
                <li class="active">
                    <a href="">
                        <i class="icon-home icon-white"></i>
                        Inicio
                    </a>
                </li>
                <li>
                    <a href="./distancia.html">
                        <i class="icon-user icon-white"></i>
                        Distancia
                    </a>
                </li>
                <li>
                    <a href="./operas.html">
                        <i class="icon-user icon-white"></i>
                        Operas
                    </a>
                </li>
            </ul>
</div>
</div>
</div>
    {% block content %}
 
    {% endblock %}
 
 
</body>
</html>