{% extends "layout.html" %}

{% block content %}
{% import "_macros.html" as macro %}

<form class="form-control" action="" method="post" novalidate>
    {{ macro.campoNuevo(form.matricula)}}
    {{ macro.campoNuevo(form.nombre)}}
    {{ macro.campoNuevo(form.apellido)}}
    {{ macro.campoNuevo(form.correo)}}
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>

<h2>Matricula: {{mat}}</h2>
<h2>Nombre: {{nom}}</h2>
<h2>Apellido: {{ape}}</h2>
<h2>Email: {{em}}</h2>

<form action="/get_cookie" method="get" class="form-control" novalidate>
    <button type="submit" class="btn btn-secondary">Ver cookie</button>


</form>

{% endblock %}